<% title "Log in" %>

<<<<<<< HEAD
<p>Haven't signed up yet? <%= link_to "Create an Account", signup_path %></p>
=======
<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>
>>>>>>> 6cd90d17e8daed22d4256f2ec1ab77423a2cfb14

<%= form_tag sessions_path do %>
    <p>
      <%= label_tag :login, "Username or Email Address" %><br />
      <%= text_field_tag :login, params[:login] %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <p><%= submit_tag "Log in" %></p>
<% end %>
