<div id="notice"></div>
<div class="your-following"><h3>You are following <%=current_user.friends.count %> people.</h3></div>
<ul id="tweet_list">

  <% @friends.each do |friend| %>
      <li<% if (@friends.first == friend) %> class="first" <% end %> id="<%=friend.username%>">

        <%= image_tag friend.gravatar_url(:size => 48)%>
        <div class="tweet_message_container">
          <span class="full_name"><%= link_to friend.username, friend.username %></span>
          <span class="tweet_name"><s>@</s>username</span>
          <span class="time_ago"><%= distance_of_time_in_words_to_now(friend.tweets.last.created_at) %> ago</span>

          <div class="clear"></div>

          <span class="message"> <% status = h friend.tweets.last.message %> <%=status_parser(status) %></span>
          <div class="tweet_footer">
                <span class="expand-stream">
                <span class="expand"><a href="#">expand</a></span>
                <span class="collapse"><a href="#">collapse</a></span>
                </span>
                <span class="actions">
                <span class="reply"><a href="#">reply</a></span>
                <span class="retweet"><a href="#">Retweet</a></span>
                <span class="favorite"><a href="#">Favorite</a></span>
                 </span>
          </div>
        </div>
        <div class="button-container">
          <%= submit_tag "Unfollow", :class => "follow-button", :name => friend.username%>
        </div>
        <div class="clear"></div>


      </li>  <% end %>

</ul>

<script type = "text/javascript">

  $(function(){
     $('.follow-button').click(function(){
              $.ajax({
                  type:'POST',
                  url: "/remove_friend/" + $(this).attr('name'),
                  success: function(msg) {
                      $('#' + msg).slideUp('slow');
                      $('#notice').html('You are no longer following ' + msg);
                      $('#notice').show();                  }
              });
     })
  });

</script>